@page
@model MysteryCaseModel
@{
    ViewData["Title"] = "MysteryCase";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MysteryCase</title>
</head>
<body>

    <h1 style="text-align: center;">Mystery Case</h1>
        
    <p style="text-align: center;">&#8659;</p>
    <hr class="case_lines">

    <div class="Open_Case_Section">
        
        <img id="Mystery_Case_Roll_Image" src="@Model.SelectedSkinImagePath" alt="1"><br>
        @if (TempData["AlertMessage"] != null)
        {
            
            <p class="Error_MSG">'@TempData["AlertMessage"]'</p>
           
            
        }
        <form method="post">
            <button type="submit">Open Case(30$)</button>
        </form>
    </div>

    <div id="Mystery_pics" class="Skin_Collection">
        <div class="skin_container">
            <img class="red_skins" src="\Case_Skins\Mystery_Skins\AK_BLS.png" alt="1">
            <div class="price_overlay">Price: $265.23</div>
        </div>
        <div class="skin_container">
            <img class="blue_skins" src="\Case_Skins\Mystery_Skins\AWP_SM.png" alt="2">
            <div class="price_overlay">Price: $0.23</div>
        </div>
        <div class="skin_container">
            <img class="blue_skins" src="\Case_Skins\Mystery_Skins\CZ_DSTRS.png" alt="3">
            <div class="price_overlay">Price: $0.64</div>
        </div>
        <div class="skin_container">
            <img class="blue_skins" src="\Case_Skins\Mystery_Skins\CZ_PLMR.png" alt="4">
            <div class="price_overlay">Price: $1.32</div>
        </div>
        <div class="skin_container">
            <img class="purple_skins" src="\Case_Skins\Mystery_Skins\CZ_TGRS.png" alt="5">
            <div class="price_overlay">Price: $0.54</div>
        </div>
        <div class="skin_container">
            <img class="blue_skins" src="\Case_Skins\Mystery_Skins\GLOCK_OB.png" alt="6">
            <div class="price_overlay">Price: $2.12</div>
        </div>
        <div class="skin_container">
            <img class="red_skins" src="\Case_Skins\Mystery_Skins\GLOCK_VG.png" alt="7">
            <div class="price_overlay">Price: $32.23</div>
        </div>
        <div class="skin_container">
            <img class="pink_skins" src="\Case_Skins\Mystery_Skins\M4S_NTMR.png" alt="8">
            <div class="price_overlay">Price: $72.32</div>
        </div>
        <div class="skin_container">
            <img class="pink_skins" src="\Case_Skins\Mystery_Skins\MAC_DT.png" alt="9">
            <div class="price_overlay">Price: $18.46</div>
        </div>
        <div class="skin_container">
            <img class="purple_skins" src="\Case_Skins\Mystery_Skins\MAG_HEAT.png" alt="10">
            <div class="price_overlay">Price: $4.53</div>
        </div>
        <div class="skin_container">
            <img class="gold_skins" src="\Case_Skins\Mystery_Skins\NVJ_TT.png" alt="11">
            <div class="price_overlay">Price: $293.57</div>
        </div>
        <div class="skin_container">
            <img class="purple_skins" src="\Case_Skins\Mystery_Skins\P20_OBSDN.png" alt="12">
            <div class="price_overlay">Price: $9.36</div>
        </div>
        <div class="skin_container">
            <img class="blue_skins" src="\Case_Skins\Mystery_Skins\P20_UH.png" alt="13">
            <div class="price_overlay">Price: $2.57</div>
        </div>
        <div class="skin_container">
            <img class="blue_skins" src="\Case_Skins\Mystery_Skins\P90_FRT.png" alt="14">
            <div class="price_overlay">Price: $13.54</div>
        </div>
        <div class="skin_container">
            <img class="blue_skins" src="\Case_Skins\Mystery_Skins\P250_CSTE.png" alt="15">
            <div class="price_overlay">Price: $0.32</div>
        </div>
        <div class="skin_container">
            <img class="pink_skins" src="\Case_Skins\Mystery_Skins\P250_FRNK.png" alt="16">
            <div class="price_overlay">Price: $0.87</div>
        </div>
        <div class="skin_container">
            <img class="purple_skins" src="\Case_Skins\Mystery_Skins\P250_NVRMR.png" alt="17">
            <div class="price_overlay">Price: $1.04</div>
        </div>
        <div class="skin_container">
            <img class="blue_skins" src="\Case_Skins\Mystery_Skins\SG_OR.png" alt="18">
            <div class="price_overlay">Price: $0.13</div>
        </div>
        <div class="skin_container">
            <img class="blue_skins" src="\Case_Skins\Mystery_Skins\TEC_AVLNC.png" alt="19">
            <div class="price_overlay">Price: $0.96</div>
        </div>
    </div>

</body>
</html>