@page
@model Server_temp.Pages.Privacy
@{
    ViewData["Title"] = "Privacy";
}

<h1>@ViewData["Title"]</h1>

<div class="privacy">

    <p>
        At <strong>UPPERcase Battle</strong>, we care about your privacy. Here’s what you should know about the information we keep:
    </p>

    <ul>
        <li>We save basic account info like your username, password, email, and some profile details.</li>
        <li>Your in-game balance and owned skins (all virtual) are stored to track your progress.</li>
        <li>We do <strong>not</strong> collect or store any real money, payment info, or personal documents.</li>
    </ul>

    <p>
        Remember, this is just a <strong>simulation</strong>. No real money is involved or won. It’s all for fun and practice.
    </p>

    <p>
        If you have any questions or want your info removed, email us at <strong>uppercase69battle@gmail.com</strong>.
    </p>

    <p1 style="font-size: 8px;">We do our best to protect your info<br></p1>
    <p1 style="font-size: 4px;">within our capabilities</p1>

</div>